  <!-- <h4> Hi, {{user.username}} </h4> -->
  <!-- ========== ///// THE PURPLE HEADER OF THE PAGE ///// ============ -->

	<div id=headerBar>
		<div id="nameContainer">
				<h1 id="ArithmetricksName">	Arithme-tricks</h1>
				<img src="/images/magicianSmall.png" alt="Magician Child" id="magician">
				<a href="/logout"><button type="button" name="button" id="logoutButton">Logout</button></a>
		</div>

		<div id="timerContainer">   
			<h1 id="timer">
				1:00
			</h1>
		</div>
	</div>

<!-- =============== // ///// THE GAME ZONE ///// //================= -->
<div id="gameZoneContainer">
<!-- /// LEFT SIDE OF THE ZONE ///// -->

<div id="problemContainer">
	<div class="numberContainer">
		<h1 id="firstNumber" class="problemElement">&nbsp; 7 </h1>
	</div>

	<div id=secondRow>
		<div class="numberContainer" id="operatorBox">
			<h1 id="operator" class="problemElement"> + </h1>
		</div>

		<div class="numberContainer" id="secondNumberBox">
			<h1 id="secondNumber" class="problemElement">8 </h1>
		</div>
	</div>

	<form>
		<input type="text" name="studentAnswer" class="" id="problemAnswer" autocomplete="off">
	</form>
</div> 	<!-- END OF PROBLEMCONTAINER -->

	<!-- /// RIGHT SIDE OF THE ZONE ///// -->
<div class="progressPanel">
	<h1>Problem Solved</h1>
	<h1 id="progressNumber">9</h1>

	<div class="progressBarContainer">
		<h2>You</h2>
		<div class="progressBar">	</div>

		<h2>Problems left</h2>
		<div class="problemsLeftBar">	</div>
	</div>

	<h1>High Score</h1>
	<h1>1073</h1> <!-- Highscore will come with handlebars -->

</div> <!-- END OF PROGRESS PANEL -->

</div> <!-- END OF GAMEZONE CONTAINER	 -->
{{!--</div> <!-- END OF CONTAINER -->--}}

{{!--<footer class="siteFooter">
<p>Aritmetirks</p>
</footer>--}}


<!-- MASK SECTION TO INICIATE THE GAME -->

<div id="mask">
	<div id="module">
			<div id=headerBar>
		 			<div id="nameContainer">
		 				<h1 id="ArithmetricksName">	Arithme-tricks</h1>
						<img src="/images/magicianSmall.png" alt="Magician Child" id="magician">
                        <a href="/logout"><button type="button" name="button" id="logoutButton">Logout</button></a>
		 			</div>
			</div>
			<h4>  Welcome {{user.username}},click on START to begin your test! </h4>
			<div class="hidden" id="userid">{{user.id}}</div>

			<div id="roundButtonContainer">
				<div id="startlabelBox">
					<h1>START!</h1>
				</div>
			</div>
			<footer class="siteFooter">
             <p>&copy; 2017 Aritmetirks</p>
            </footer>
	</div>
</div>
{{!--<footer class="siteFooter">
<p>Aritmetirks</p>
</footer>--}}

 
<!--  {{#if isStudent}}
  <h4> WELCOME STUDENT {{user.username}} </h4>
 {{else}}
 <h4> user is logged out of the session </h4>
<a href ="/">login here</a>
 {{/if}}
 -->